/* -------------------- Header ------------------ */
/* Default Setting */
body {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

h1 {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

h3 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: all 0.2s ease;
    z-index: 3;
  }
  
  @media (max-width: 450px) {
    #navbar-logo {
        max-width: 230px;
    }
  }
  
  .navbar.scrolled {
    background-color: #262626;
  }
  
  #collapsibleNavbar.expanded {
    background-color: #32B7A1;
  }
  
  .nav-link {
    color: #FAFAFA;
    margin-right: 55px;
  }
  
  .nav-link:hover {
    color: #FAFAFA;
    font-weight: bold;
  }
  
  #activeLink {
    color: #FAFAFA;
    font-weight: bold;
    border-bottom: 2px solid #FAFAFA;
  }
  
  button.navbar-toggler {
    color: #32B7A1;
    background-color: #FFE2D1;
    margin-right: 40px;
  }
  
  
  /* Banner */
  .banner {
    position: relative;
    height: 453px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }
  
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .text-overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 60%;
    transform: translateY(-50%);
  }
  
  .banner-title {
    margin-bottom: 25px;
  }
  
  .banner-description {
    margin-bottom: 40px;
  }
  
  .serviceButton {
    display: inline-block;
    padding: 10px 40px;
    background-color: #FFE2D1;
    color: #3B645D;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .serviceButton:hover {
    background-color: #ffffff;
  }

/* Contents */
h2 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: italic;
    font-size: 42px;
    color: #32B7A1;
    text-align: center;
    padding: 50px;
}

.post_content {
    margin: auto;
    width: 85%;
    padding: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    line-height: 30px;
}

p1 {
    font-size: 20px; 
    font-weight: bold;
    margin: 0 0 15px 0; 
    padding: 10px;
    line-height: 30px; 
    display: block; 
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
 }

/* -------------------- Slideshow ------------------ */

/* Slideshow Container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* Slides */
.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* Navigation Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* -------------------- Footer ------------------ */
.contactLink {
    background-color: #32B7A1;
    padding: 50px;
}

.slogan {
    color: #ffffff;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 10px;
}

.contactInfo {
    color: #ffffff;
    padding-left: 50px;
    margin-top: 16px;
}

.socialPlatform {
    color: #FFFFFF;
    padding: 0px;
}

.socialPlatform li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;

}

.socialPlatform li a {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    border-radius: 5px;
}

.socialPlatform li a:hover {
    color: #32B7A1;
    background: #e3e1e1;
}

.copyright {
    background-color: #268C7C;
    padding: 24px;
    text-align: center;
}

.copyright p {
    margin: 0px;
    color: #FFE2D1;
}

/*Carousel*/
.section-carousel {
    padding-bottom: 60px;
    background-color: #f7f7f7;
}

@media (max-width: 1900px) {
    #carousel-control-prev {
        padding: 24px;
        justify-content: left;
    }

    #carousel-control-next {
        padding: 24px;
        justify-content: right;
    }
}

.carousel-control-prev-icon {
    background-image: url('./images/arrow-left.svg');
    width: 45px;
    height: 45px;
}

.carousel-control-next-icon {
    background-image: url('./images/arrow-right.svg');
    width: 45px;
    height: 45px;
}

.carousel-card {
    position: relative;
    transition: all 0.2s ease;
}

.carousel-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 57.47%, #000 100%);
}

.description-overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: left;
    width: 100%;
    z-index: 2;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Next and Previous Section */
.next-prev{
    border-top: 1px solid #ddd;
    padding: 15px 0;
    margin-top: 30px;
}

.next-prev .prev-link, 
.next-prev .next-link {
    font-size: 16px;
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.next-prev .prev-link:hover, 
.next-prev .next-link:hover {
    color: #000000;
}

/* Back to Gallery */
.back-gallery{
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-top: 30px;
}
.back-gallery .back-link
{
    font-size: 16px;
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-gallery .back-link:hover
{
    color: #000000;
}