/* -------------------- Header ------------------ */
/* Defual Setting */
body {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

h1 {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

h3 {
   font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: all 0.2s ease;
    z-index: 3;
}

@media (max-width: 450px) {
    #navbar-logo {
        max-width: 230px;
    }
}

.navbar.scrolled {
    background-color: #262626;
}

#collapsibleNavbar.expanded {
    background-color: #32B7A1;
}

.nav-link {
    color: #FAFAFA;
    margin-right: 55px;
}

.nav-link:hover {
    color: #FAFAFA;
    font-weight: bold;
}

#activeLink {
    color: #FAFAFA;
    font-weight: bold;
    border-bottom: 2px solid #FAFAFA;
}

button.navbar-toggler {
    color: #32B7A1;
    background-color: #FFE2D1;
    margin-right: 40px;
}

/* Banner */
.banner {
    position: relative;
    height: 453px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.text-overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 60%;
    transform: translateY(-50%);
}

.banner-title {
    margin-bottom: 25px;
}

.banner-description {
    margin-bottom: 40px;
}

.serviceButton {
    display: inline-block;
    padding: 10px 40px;
    background-color: #FFE2D1;
    color: #3B645D;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.serviceButton:hover {
    background-color: #ffffff;
}

/*Contents*/
h2 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: italic;
    font-size: 42px; /* Reduced from 40px to 36px for a smaller size */
    color: #32B7A1; /* Ensure proper hex format with '#' */
    text-align: center;
    padding: 50px;
}

.post_content {
    margin: auto;
    width: 85%;
    padding: 10px;
}

p{
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    line-height: 30px;
}

p1{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
